* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ddd;
    margin: 50px auto;
    padding: 20px;
}

.container-satu {
    width: 800px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    display: flex;
}

.sidebar-satu {
    flex: 1;
    order: 3;
}

.sidebar-satu ul li {
    list-style: none;
}

.judul-artikel {
    flex: 1;
    order: 1;
}

.content-utama {
    flex: 1;
    order: 2;
}

/* Latihan 2 */

.container-dua {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
}

.kotak {
    width: 600px;
    padding: 20px;

}

.kotak.satu {
    background-color: aqua;
}

.kotak.dua {
    background-color: lightcoral;
}

.kotak.tiga {
    background-color: burlywood;
}


/* Latihan 3 */

.container-tiga {
    width: 600px;
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.thumbnail {
    width: 28%;
}

.thumbnail img {
    width: 100%;
}

/* Latihan 4 */

.container-empat {
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.card .header {
    width: 200px;
    height: 200px;
}

.card .content {
    width: 200px;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}

.satu {
    background-color: bisque;
}

.dua {
    background-color: cornflowerblue;
}

.tiga {
    background-color: darkkhaki;
}

.content .btn {
    padding: 5px;
    margin: 10px 60px;
}

.content .btn:hover {
    color: red;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgb(127, 131, 132) inset
}